<div class="d-flex">
  <div class="container-fluid p-3 w-25">
    <mat-form-field>
      <mat-label>Organisations</mat-label>
      <mat-select [(value)]="selectedOrganisationId" (selectionChange)="loadRooms($event.value)">
        @for (org of organisations; track org.id) {
          <mat-option [value]="org.id">
            {{ org.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (selectedOrganisationId) {
      <mat-form-field>
        <mat-label>Rooms</mat-label>
        <mat-select [(value)]="selectedRoomId" (selectionChange)="loadTimeIntervals($event.value)">
          @for (room of currentRooms; track room.id) {
            <mat-option [value]="room.id">
              {{ room.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      
    }
    @if(selectedInterval){
        <button class="btn btn-success mb-3 d-block" (click)="MakeBooking(selectedInterval)">Make booking request</button>
    }
  </div>
  <div class="container-fluid p-3 w-80">
    @if (selectedRoomId) {
      @if (currentWeek; as week) {
        <div class="week-navigation">
          <button mat-raised-button (click)="previousWeek()" [disabled]="currentWeekIndex === 0">
            Previous
          </button>
          <button
            mat-raised-button
            (click)="nextWeek()"
            [disabled]="currentWeekIndex >= weeks.length - 1"
          >
            Next
          </button>
        </div>

        <div class="week-grid">
          @for (day of week.days; track day.date) {
            <mat-card class="day-card">
              <mat-card-header>
                <mat-card-title>
                  {{ day.date | date: 'dd/MM/yy' : 'UTC' }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ day.date | date: 'EEEE' : 'UTC' }}
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                @if (day.intervals.length > 0) {
                  @for (interval of day.intervals; track interval.id) {
                    <button
                    type="button"
                    class="btn btn-primary"
                    [class.selected]="selectedInterval?.from === interval.from"
                    (click)="selectInterval(interval)">
                      {{ interval.from | date: 'HH:mm' : 'UTC' }}
                      -
                      {{ interval.to | date: 'HH:mm' : 'UTC' }}
                    </button>
                    <p></p>
                  }
                } @else {
                  <div class="empty-day">No bookings</div>
                }
              </mat-card-content>
            </mat-card>
          }
        </div>
      }
    }
  </div>
</div>
