/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2fb60d 0%, #f8f7f8ee 100%);
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
.panel-buttons {
  button {
    margin-left: 0.5em;
  }
}