/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
.panel-buttons {
  button {
    margin-left: 0.5em;
  }
}

.week-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.week-title {
  font-size: 18px;
}

.week-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.day-card {
  min-height: 100px;
}
.selected {
  background: orange;
  border-color: orange;
}
.selected:hover {
  background: orange;
  border-color: orange;
}

.empty-day {
  color: #888;
  font-style: italic;
}
