<div class="modal-body">
  @if (users !== null && users.length > 0) {
    <div class="list-group">
      @for (user of users; track user.email) {
        <li class="list-group-item">
          {{ 'Email : ' }}
          {{ user.email }}
          {{ 'Rolle :' }}
          {{ user.role }}
          @if (user.role === 'User') {
            <button class="btn btn-success" (click)="promoteUser(user)">promote to admin</button>
          }
          <button class="btn btn-danger" (click)="deleteUser(user)">Remove user</button>
        </li>
      }
    </div>
  }
</div>
