<div class="d-flex">
  <div class="container-fluid p-3 w-50">
    <button class="btn btn-success mb-3" (click)="CreateOrganisation()">Add organisation</button>

    @if (organisations.length > 0) {
      <div class="list-group">
        @for (organisation of organisations; track organisation.id) {
          <div class="list-group-item d-flex justify-content-between">
            <span>{{ organisation.name }}</span>
            <button class="btn btn-primary btn-sm" (click)="updateOrganisation(organisation)">
              Update organisation
            </button>
            <button (click)="deleteOrganisation(organisation.id)" class="btn btn-danger btn-sm">
              Delete organisation
            </button>
          </div>
        }
      </div>
    } @else {
      <p class="text-muted">No organisations found.</p>
    }
  </div>
  <div class="container-fluid p-3 w-50">
    <button class="btn btn-success mb-3" (click)="createRoom()">Add room</button>
    @if (rooms.length > 0) {
      <div class="list-group">
        @for (room of rooms; track room.id) {
          <div class="list-group-item d-flex justify-content-between">
            <span>{{ room.name }}</span>
            <button class="btn btn-primary btn-sm" (click)="updateRoom(room)">Update Room</button>
            <button class="btn btn-danger btn-sm">Delete Room</button>
          </div>
        }
      </div>
    } @else {
      <p class="text-muted">No rooms found.</p>
    }
  </div>
</div>
